@import url('https://fonts.googleapis.com/css?family=Open+Sans');

label {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
    display: inline-block;
}

p {
    font-family: "Open Sans", sans-serif;
}


form {
    width: 600px;
}

input[type="text"],
input[type="email"] {
    padding: 5px 10px;
    margin-bottom: 20px;
    width: 250px;
    font-size: 16px;
    border: 1px solid pink;
    border-radius: 30px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: 0;
    border-color: green;
}

textarea {
    border: 1px solid pink;
    border-radius: 30px;
    width: 550px;
    height: 200px;
}

textarea:focus {
    outline: 0;
    border-color: green;
}

input[type="submit"] {
    background-color: hotpink;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    color: #fff;
    margin-top: 30px;
    float: left;
    clear: left;
    
    width: 550px;
    text-align: center;
    
}

input[type="submit"]:hover {
    background-color: #ff99aa;
}

.left {
    width: 300px;
    float: left;
    clear: left;
}

.right {
    width: 300px;
    float: right;
    clear: right;
}